 <div class="row">
  <div class="col-lg-8 center-block">
    <div class="row">
      <%= link_to 'ALL DELIVERIES', deliveries_path, class: 'btn btn-info' %>
    </div>
    </br>
    <h3 class="centered">New Delivery</h3>

    <%= render 'form', delivery: @delivery %>

  </div>
</div>