<div class="container">
  <div class="row">
    <div class="col-md-8 center-block">
      <h3><strong>Summary</strong></h3>
        <p>The app is funtional and you can add Courses and Deliveries. Right now it is designed to the format of the upcoming DPSST deliveries but it can be configured to work with all CCC delivered classes.</p>
        <p>Admins can add new users and give them the role of 'admin' or 'user'. Any user can update a delivery.</p>
        <h3><strong>Todo</strong></h3>
        <ul>
          <li>Add instructor role to user.</li>
          <li>Add lead and unit quals to instructor so only qualifed users show when assigning instructor to delivery.</li>
          <li>Add file upload so that each delivery can store files such as fliers and welcome letters.</li>
          <li>Restrict authorization so only admin can create or modify a Course.</li>
          <li>Add some compelling content to home page instead of this list :)</li>
        </ul>
        <h3><strong>Issues</strong></h3>
        <p>If you have any suggestions or find any bugs shoot me an email at bwoodreid@gmail.com.</p>
      </div>

  </div>
</div>
