<div class="row">
  <div class="col-lg-8 center-block">
      <h4>Courses</h4>

      <ul id="course-index">
        <% @courses.each do |course| %>
          
          <li>
            <%= link_to(course) do %>
              <%= course.title %>(<%= course.course_number %>)
            <% end %>
          </li>
          
        <% end %>
      </ul>
      <br>

      <%= link_to 'NEW COURSE', new_course_path, class: 'btn btn-primary' %>
  </div>
</div>