 <div class="row">
 	<div class="col-lg-8 center-block">
  	<h3 class="centered">New Course</h3>

  	<%= render 'form' %>
  	<p class="col-lg-8 center-block">
  		<%= link_to 'Back', courses_path %>
  	</p>
 	</div>
</div>