// Place all the styles related to the Deliveries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Shades of gray
$gray:           lighten(#000, 25%);
$gray-light:           lighten(#000, 75%);
$gray-lighter:           lighten(#000, 93.5%);
$gray-lightest:          lighten(#000, 98%);
#deliveries {
  margin-bottom: 75px;
  li {
    display: inline;
  }
}
#delivery {
  div {
    line-height: 2em;
  }
}

table.delivery-table tr:hover td {
  background-color: $gray-lighter;
  cursor: pointer;
}
.comment_avatar {
  -moz-border-radius: 4em/4em;
    -webkit-border-radius: 4em 4em;
    border-radius: 4em/4em; 
    width:4em;
    height:4em; 
    margin-bottom: 0;

    overflow: hidden;  
    img {
      width: 100%;
      height: auto;
      min-height: 4em;
      min-width: 4em;
    }
}
.comment_timestamp {
  color: $gray-light;
  margin-top: -10px;
}
.comment {
  border: none;
}
.thread_new_comment_link a, .thread_hide a {
  background-color: $gray-lighter !important;
  /*color: #444;*/
  -moz-border-radius: .25em/.25em;
    -webkit-border-radius: .25em .25em;
    border-radius: .25em/.25em; 
    padding: 5px 10px;
}
.comment_form_actions {
  input {
    background-color: $gray-lighter !important;
    -moz-border-radius: .25em/.25em;
    -webkit-border-radius: .25em .25em;
    border-radius: .25em/.25em; 
    border: none;
  }
}
.comment_form_field {
  textarea {
    height: 5em !important;
    border-color: $gray-light !important; 
    -moz-border-radius: 4px/4px;
    -webkit-border-radius: 4px 4px;
    border-radius: 4px/4px;
  }
}
.course-boxes {
  label {
    margin-right: 15px;
  }
  input {
    margin-right: 3px;
  }
}
.course-button {
    background: #D2D2D2;
    -moz-border-radius: 40px/40px;
    -webkit-border-radius: 40px 40px;
    border-radius: 40px/40px;
    padding: 5px 15px; 
    float: left;
    margin-right: 10px;
    a {
        color: black;
    }
    margin-bottom: 10px;
}
.check-icon {
  img {
    height: 1em;
    width: 1em;
  }
}
#unit-instructor-form {
  display: none;
}
.destroy-instructor {
  display: none;
}
li.unit-instructor-name:hover {
   cursor: pointer;
 }

 #show-calendar {
  z-index: 3;
 }