/*// Place all the styles related to the Hours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.index-edit-button {
  margin-top: -8px;
}
.hour-comment {
  padding: 20px;
  display: none;
  display: fixed;
}
.arrow_box {
  position: relative;
  background: #fff;

  border: 1px solid #4e58a3;
}
.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 78%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
.arrow_box:before {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000;
  border-width: 11px;
  margin-left: -11px;
}
input[type="radio"] {
  margin-right: 15px;
}
#submitted-hours {
  margin-top: 30px !important;
}
