.pdf-page {
  width: 90%;
  margin: 0 auto;
  font-family: Arial, "Helvetica", sans-serif;
  tbody tr:nth-child(odd) {
    background-color: #D5E5FF;
  }
  thead { display: table-header-group }
  tfoot { display: table-row-group }
  tr { page-break-inside: avoid }
  .pdf-table {
    tr {
      line-height: 30px;
      border-spacing: 0;
    }
    td {
      padding: 0px 10px;
    }
  }
  td.comment {
    line-height: 20px !important;
  }
}
#timesheet {
  margin-top: 0 !important;
}
.form-footer {
  text-align: center;
}
