#show-user {
  line-height: 2em;
  strong {
    margin-right: 10px;
  }
}
.qual-buttons {
  padding-top: 5px;
  overflow: hidden;
}
h1.welcome-message {
  padding-top: 20px;
  font-size: 2em;
  color: #5fc0dd;
}
.delete-user-button {
  margin-top: 50px;
}
